body {
  font-family: sans-serif;
  font-size: large;
  margin: 0;
}

a {
  text-decoration: none;
  color: #30544E;
}
a .code {
  background: #EEE; /*little lighter than the normal bg color*/
  font-family: monospace;
}
.group a {
  display: block;
}

.group {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 1em 1em;
  border: 1px solid grey;
  padding: 0 1em 1em 1em;
}
  .group h2 {
    margin: 0.2em 0;
    font-size: 1.1em;
  }

header,
footer {
  background: #363738;
  color: white;
  width: 100%;
  padding: 1em;
}

/* 
  header 
*/
header {
  margin-bottom: 1em;
}
  header h1, header p {
    display: inline;
  }
  header p {
    color: #D2D5D3;
    margin-left: 2em;
  }


/* 
  footer
*/
footer {
  margin-top: 1em;
  padding: 2em;
  display: flex;
  font-size: small;
}
  footer a {
    color: #D2D5D3;
  }
  footer .highlight a {
    color: #EE7F00;
  }

  footer ul {
    flex-flow: column;
    flex: 1;
  }
  footer ul li {
    list-style: none;
    line-height: 2em;
  }
  footer .fa {
    width: 1.5em;
  }
  footer .disabled {
    text-decoration: line-through;
    color: grey;
  }
  
  
  
  
  
  
.group .kata .details {
  display: none;
  position: absolute;
  margin: 0.5em;
  padding: 0.5em;
}
  .kata:hover a {
    background: #D2D5D3;
  }
  
  .group .kata:hover .details {
    display: block;
    position: absolute;
    margin: 0;
    z-index: 1;
    background: #D2D5D3;
  }

.notification-bubble {
  background: white;
  position: absolute;
  margin-left: -2.6em;
  padding: 0 0.3em;
  font-size: 0.6em;
  border-radius: 5px;
  font-family: sans-serif;
}
  .notification-bubble.new {
    color: #D95E00;
  }
  .notification-bubble.easy {
    margin-left: -2.8em;
    color: #7AB75C;
  }

.workshop-banner {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateY(200px);
  transition: 2s linear;
}
  .workshop-banner.fade-in {
    opacity: 1;
    bottom: 10em;
  }
  .workshop-banner.small {
    opacity: 1;
    bottom: 2.5em;
    transition: 0.2s linear;
  }
  .workshop-banner button.close {
    border: 0;
  }
  .workshop-banner .close-button-container {
    text-align: right;
  }
  
