body {
  font-family: sans-serif;
  font-size: large;
  margin: 0;
}

a {
  text-decoration: none;
}
a .code {
  background: #EEE; /*little lighter than the normal bg color*/
  font-family: monospace;
}
.group a {
  display: block;
}
a:visited {
}
a:hover {
}

.group {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 1em 1em;
  border: 1px solid grey;
  padding: 0 1em 1em 1em;
}

footer {
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.2em;
}
  footer a {
    color: lightgray;
  }

.group .kata .details {
  display: none;
  position: absolute;
  border: 1px solid grey;
  border-width: 1px 0 1px 0;
  margin: 0.5em;
  padding: 0.5em;
}
  .group .kata:hover .details {
    display: block;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 1;
    background: white;
  }

.notification-bubble {
  background: white;
  position: absolute;
  margin-left: -2.6em;
  padding: 0 0.3em;
  font-size: 0.6em;
  border-radius: 5px;
  font-family: sans-serif;
}
  .notification-bubble.new {
    color: red;
  }
  .notification-bubble.easy {
    margin-left: -2.8em;
    color: green;
  }

.workshop-banner {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateY(200px);
  transition: 2s linear;
}
  .workshop-banner.fade-in {
    opacity: 1;
    bottom: 10em;
  }
  .workshop-banner.small {
    opacity: 1;
    bottom: 2.5em;
    transition: 0.2s linear;
  }
  .workshop-banner button.close {
    border: 0;
  }
  .workshop-banner .close-button-container {
    text-align: right;
  }
  
